@charset "UTF-8";

.__inner {
  width: 1200px;
  margin: 0 auto;
  padding: 20px 20px;
  background-color: aquamarine;
}

.HTML_memo {
  padding: 20px;
}

.main_ttl {
  background-color: #f3dc59;
  margin: 0 auto;
  width: 75%;
  text-align: center;
  font-size: 3rem;
  color: #fff;
  -webkit-text-stroke: 2px red;
  text-stroke: 1px red;
}

.sub_heading {
  padding: 20px 0 0 20px;
  text-decoration: underline;
}

.memo_wrap {
  background-color: bisque;
  max-width: 1200px;
  width: 100vw;
}

.section_ttl {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.memo_block {
  margin: 10px 0;
}

.memo_ttl {
  display: inline-block;
  padding: 5px;
  margin: 5px 0;
  border: solid #ff0000 2px;
  border-radius: 5px;
  text-align: center;
  font-size: large;
  white-space: nowrap;
}

.memo_block p {
  line-height: 1.5em;
}

.memo_block ol {
  margin: 10px 0;
}

.memo_block li {
  list-style-position: inside;
}

.practice_wrap {
  background-color: #cecece;
  max-width: 1200px;
  width: 100vw;
}

.practice_wrap li {
  list-style-type: square;
  list-style-position: inside;
  color: #ff0000;
  font-size: 1.5em;
  margin: 10px 0 20px;
}

.practice_css_ttl {
  display: inline-block;
  border-bottom: solid #ff0000 2px;
  margin-bottom: 5px;
  font-weight: 600;
}

._content_txt {
  color: #000;
  font-size: 1rem;
  line-height: 1.2;
}

._note {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 600px;
  height: 200px;
  border: solid #000 3px;
}

.text-align_note_parents {
  width: 100%;
  height: 100%;
  background-color: #26c706;
  text-align: center;
}

.text-align_note_child {
  width: 80%;
  height: 80%;
  background-color: #decd6b;
  display: inline-block;
}

.text-align_note_child p {
  background-color: #fff;
  text-align: right;
}

.vertical-center,
.position-property {
  margin-left: 20px;
  background-color: #ff7700;
  position: relative;
}

.vertical-center_note_child {
  display: inline-block;
  border: solid #000 1px;
  vertical-align: middle;
  /* 子要素のボックスの上下中央揃え */
}

._v-c_n_child1 {
  height: 30px;
  background-color: #ff0000;
}

._v-c_n_child2 {
  height: 100px;
  background-color: #f3dc59;
}

._v-c_n_child3 {
  height: 60px;
  background-color: aqua;
}

.position-property_note_child {
  border: solid #000 1px;
  width: 50%;
  height: 80px;
  background-color: aquamarine;
  /* ここからが上下左右中央寄せの呪文 */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* ここまでが呪文 */
}

._content_body {
  color: #000;
  font-size: 1rem;
}

._F-note__wrap {
  display: flex;
  width: 100%;
  margin: 0 auto;
}

._Flex-parents {
  width: 40%;
  margin: 0 5%;
}

.child_con {
  display: flex;
}

._F._note_child {
  border: solid #000 1px;
  background-color: antiquewhite;
  margin: 2px 2px;
  width: 20px;
}

.F-direction-1 .F-direction._note_child {
  border: solid #000 1px;
  background-color: antiquewhite;
  margin: 2px 2px;
  writing-mode: vertical-rl; /*①*/
  text-orientation: upright; /*②*/
}
/* rowのやつだけ①と②で縦書きにした。 */

.F-direction-2 .F-direction {
  flex-direction: column;
}

.F-direction-2 ._F {
  width: auto;
}

.F-wrap_child_con {
  display: flex;
}

.F-wrap._F {
  width: 40px;
}

.F-wrap-1 .F-wrap_child_con {
  flex-wrap: wrap;
}

.F-wrap-2 .F-wrap_child_con {
  flex-wrap: nowrap;
}

.F-flow-1 .F-flow_child_con {
  display: flex;
  flex-flow: column wrap;
  height: 180px;
}

.F-flow-1 ._F {
  width: 45%;
}

.F-flow-2 .F-flow_child_con {
  display: flex;
  flex-flow: row wrap-reverse;
  width: 206px;
}

.F-flow_memo {
  margin: 10px 0 0 20px;
}

.__Flex_Alignment {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
}

.F-JC ._Flex-parents,
.F-AC ._Flex-parents,
.F-AI ._Flex-parents {
  width: 206px;
  margin: 30px;
}

.F-JC_child_con {
  display: flex;
  flex-flow: row wrap;
}

.F-JC_child_con ._note_child {
  width: 25px;
}

.F-JC-1 .F-JC_child_con {
  justify-content: flex-end;
}

.F-JC-2 .F-JC_child_con {
  justify-content: center;
}

.F-JC-3 .F-JC_child_con {
  justify-content: space-between;
}

.F-JC-4 .F-JC_child_con {
  justify-content: space-around;
}

.F-JC_memo {
  margin: 10px 0 0 20px;
}

.F-AC_child_con,
.F-AI_child_con {
  display: flex;
  flex-flow: row wrap;
  height: 75%;
  background-color: #ff7700;
}

.F-AC_child_con ._note_child {
  width: 25px;
}

.F-AC-1 .F-AC_child_con {
  align-content: stretch;
}

.F-AC-2 .F-AC_child_con {
  align-content: flex-start;
}

.F-AC-3 .F-AC_child_con {
  align-content: flex-end;
}

.F-AC-4 .F-AC_child_con {
  align-content: center;
}

.F-AC-5 .F-AC_child_con {
  align-content: space-between;
}

.F-AC-6 .F-AC_child_con {
  align-content: space-around;
}

.F-AC_memo {
  margin: 10px 0 0 20px;
}
